/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: rgb(62, 54, 109);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

main {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #161414;
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27243c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4b2a62;
}

p {
    color: #666;
    font-size: 18px;
    margin-top: 20px;
}

button:disabled{
  background-color: #161414;
  cursor: not-allowed;
}
